.signup-page {
  height: 90dvh;
}

:root {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links, .footer-top .social, .details-article, .popular-headlines, .category-header > div, .type-title, .mob-search, .searchbox, .header-links, .weather {
  display: flex;
  align-items: center;
}

.footer-top, .category-nav ul, .category-header, .mobile-nav .mob-nav-item, .header-nav, .header-main, .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-found, .footer-nav .nav-item:last-of-type, .details-page, .featured, .main-articles {
  display: flex;
  flex-direction: column;
}

.header-top {
  padding: 0.5rem 2rem;
  background-color: rgb(36, 36, 36);
  color: white;
}
.header-top p,
.header-top a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
.header-top button {
  display: none;
}

.gradient-border {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, violet 0%, violet 3%, blue 3%, blue 7%, yellow 7%, yellow 12%, orange 12%, orange 18%, red 18%, red 25%, green 25%, green 33%, violet 33%, violet 36%, orange 36%, orange 42%, indigo 42%, indigo 50%, red 50%, red 60%, yellow 60%, yellow 62%, orange 62%, orange 70%, green 70%, green 80%, blue 80%, blue 90%, orange 90%, orange 100%);
}

.header-main {
  padding: 1rem 6rem;
}

.primary-btn {
  color: white;
  background-color: #259ff5;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.weather {
  gap: 0.5rem;
}
.weather h2 {
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
}
.weather img {
  max-width: 40px;
}
.weather p {
  font-weight: 800;
  font-size: 0.9rem;
}
.weather input {
  border: 1px solid #d1d0d0;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.header-nav {
  position: sticky;
  top: 0;
  padding: 0rem 3rem;
  border-top: 1px solid #d1d0d0;
  border-bottom: 1px solid #d1d0d0;
}

.header-links {
  position: relative;
}
.header-links p {
  color: #040404;
  padding: 1rem 1rem;
  list-style: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.header-links p:hover {
  color: white;
}

.header-nav:last-child {
  position: relative;
}

.search-container {
  cursor: pointer;
}

.searchbox {
  position: absolute;
  right: 5vw;
  gap: 0.5rem;
  background-color: white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 0.3rem;
}
.searchbox input {
  border: 1px solid #d1d0d0;
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.business-mob,
.business-nav:hover {
  background-color: #ff0000;
}

.entertainment-mob,
.entertainment-nav:hover {
  background-color: #ffa500;
}

.health-mob,
.health-nav:hover {
  background-color: #007bff;
}

.science-mob,
.science-nav:hover {
  background-color: #008000;
}

.sports-mob,
.sports-nav:hover {
  background-color: #4b0082;
}

.technology-mob,
.technology-nav:hover {
  background-color: #008279;
}

.dropdown {
  position: absolute;
  background-color: white;
  padding: 1rem;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  width: 600px;
  z-index: 5;
}
.dropdown p {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #d1d0d0;
}
.dropdown p:hover {
  color: white;
  border: none;
}

.business {
  border-top: 4px solid #ff0000;
}
@media (max-width: 700px) {
  .business {
    border-top: none;
    border-left: 4px solid #ff0000;
  }
}
.business p:hover {
  background-color: red;
}

.entertainment {
  border-top: 4px solid orange;
}
@media (max-width: 700px) {
  .entertainment {
    border-top: none;
    border-left: 4px solid orange;
  }
}
.entertainment p:hover {
  background-color: orange;
}

.health {
  border-top: 4px solid #007bff;
}
@media (max-width: 700px) {
  .health {
    border-top: none;
    border-left: 4px solid #007bff;
  }
}
.health p:hover {
  background-color: #007bff;
}

.science {
  border-top: 4px solid green;
}
@media (max-width: 700px) {
  .science {
    border-top: none;
    border-left: 4px solid green;
  }
}
.science p:hover {
  background-color: green;
}

.sports {
  border-top: 4px solid indigo;
}
@media (max-width: 700px) {
  .sports {
    border-top: none;
    border-left: 4px solid indigo;
  }
}
.sports p:hover {
  background-color: indigo;
}

.technology {
  border-top: 4px solid rgb(0, 130, 121);
}
@media (max-width: 700px) {
  .technology {
    border-top: none;
    border-left: 4px solid rgb(0, 130, 121);
  }
}
.technology p:hover {
  background-color: rgb(0, 130, 121);
}

.toggle {
  border: 1px solid #8e8e8e;
  border-radius: 0.3rem;
  padding: 0.5rem;
  display: none;
}

.mobile-nav {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 1s;
  border-top: 1px solid #040404;
}
.mobile-nav .mob-nav-item {
  padding: 1rem 2rem;
  border-bottom: 1px solid #d1d0d0;
}
.mobile-nav .mob-nav-item p {
  color: #040404;
}
.mobile-nav .mob-nav-item svg {
  margin-bottom: -0.4rem;
}

.mob-search {
  padding: 1rem;
  border-bottom: 1px solid #d1d0d0;
}
.mob-search input {
  border: 1px solid #d1d0d0;
  padding: 0.5rem;
  width: 90%;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
}
.mob-search input::-moz-placeholder {
  color: #d1d0d0;
}
.mob-search input::placeholder {
  color: #d1d0d0;
}
.mob-search button {
  border: none;
  background-color: #259ff5;
  padding: 0.2rem 0.5rem;
  position: relative;
  right: 8%;
  border: 1px solid #d1d0d0;
  border-left: none;
}

.mobile-dropdown p {
  padding: 1rem 2rem;
  color: white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

@media screen and (max-width: 700px) {
  .toggle {
    display: flex;
  }
  .header-top p,
  .header-top a:last-of-type,
  .btn-container,
  .header-nav,
  .weather {
    display: none;
  }
  .header-top button {
    display: flex;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .header-main {
    padding: 0.5rem 1.4rem;
    border-bottom: 1px solid #040404;
  }
  .weather:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1d0d0;
    padding: 0.5rem 1rem;
  }
  .weather:nth-of-type(1) img {
    margin-left: auto;
  }
}
.main-grid {
  display: grid;
  grid-template-columns: 75% 1fr;
  gap: 2rem;
  padding: 0 6rem 2rem 6rem;
  border-bottom: 1px solid #d1d0d0;
  margin-bottom: 1.5rem;
}

.main-articles {
  padding-top: 2rem;
  max-width: 975px;
  min-width: 970px;
  display: grid;
  grid-template-columns: 78% 1fr;
}

.grid-articles,
.top-articles {
  display: grid;
  grid-template-columns: 1fr 50%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.grid-articles {
  padding-top: 2rem;
}

@media screen and (max-width: 1150px) {
  .top-articles {
    grid-column: span 2;
  }
  .grid-articles {
    grid-row: 2;
  }
}
@media screen and (max-width: 1070px) {
  .main-articles {
    grid-template-columns: 60% 1fr;
  }
  .grid-articles {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }
  .top-articles {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 950px) {
  .main-articles {
    display: flex;
    flex-direction: column;
  }
  .top-articles {
    order: 0;
  }
  .grid-articles {
    order: 1;
    max-width: 650px;
  }
}
@media screen and (max-width: 750px) {
  .main-grid {
    padding: 2rem 1rem;
  }
}
.category-title {
  color: rgb(113, 113, 113);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0;
}

.time-text {
  color: #8e8e8e;
  font-size: 0.8rem;
  margin: 0;
}

.type-title {
  gap: 1rem;
}

.text-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 1rem;
  align-self: flex-end;
  font-weight: 800;
}

p {
  line-height: 1.4rem;
  margin: 0;
  color: rgb(113, 113, 113);
}

h2 {
  color: #040404;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0.5rem 0;
}

h2:hover {
  text-decoration: underline;
}

.featured {
  width: 352px;
  padding-bottom: 1.5rem;
  grid-row: span 3;
  border-bottom: 1px solid #d1d0d0;
}
.featured img {
  max-height: 264px;
  max-width: 352px;
}
.featured h2 {
  font-size: 1.8rem;
}

.bold-red {
  color: #ba1313;
  letter-spacing: 0.2rem;
  padding-bottom: 0.3rem;
  font-weight: 800;
}

.secondary {
  max-width: 352px;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d1d0d0;
}
.secondary img {
  max-width: 143px;
  max-height: 107.25px;
}
.secondary h2 {
  font-size: 1.1rem;
  padding: 0.5rem 0 0.8rem 0;
}
.secondary p {
  line-height: 1.2rem;
}

.secondary-content {
  display: flex;
  gap: 0.5rem;
}
.secondary-content p {
  margin: 0;
}

.grid-articles article:nth-last-child(2),
.grid-articles article:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

@media screen and (max-width: 1070px) {
  .secondary {
    max-width: 650px;
  }
  .featured {
    width: 650px;
  }
  .featured img {
    max-height: 500px;
    max-width: 652px;
  }
}
@media screen and (max-width: 750px) {
  .secondary {
    width: 450px;
  }
  .secondary img {
    max-width: 140px;
  }
  .featured {
    width: 450px;
  }
  .featured img {
    max-height: 500px;
    max-width: 452px;
  }
}
@media screen and (max-width: 500px) {
  .featured {
    max-width: 90vw;
    margin-bottom: 0.8rem;
  }
  .featured img {
    max-width: 90vw;
  }
  .secondary {
    max-width: 90vw;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
  .secondary .secondary-content p,
  .secondary .type-title {
    display: none;
  }
}
.mini-articles {
  padding-top: 2rem;
  max-width: 194px;
  grid-row: span 2;
}
.mini-articles img {
  max-width: 194px;
  max-height: 110px;
}

.mini-article-title {
  border-bottom: 4px solid #040404;
}
.mini-article-title h2 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.heading-article {
  padding: 1rem 0;
  border-bottom: 1px solid #d1d0d0;
}
.heading-article h2 {
  padding: 0;
}

.time-text {
  color: #ba1313;
}

.featured-container .mini-article-title {
  padding-top: 1.5rem;
}
.featured-container .mini-article {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d1d0d0;
}

.img-title-article {
  padding-top: 0.5rem;
}

.img-title-article:first-of-type {
  padding-top: 1rem;
}

@media screen and (max-width: 1400px) {
  .mini-articles {
    grid-column: 2;
  }
}
@media screen and (max-width: 1150px) {
  .img-title-article:last-of-type {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .mini-articles {
    max-width: 650px;
    order: 2;
  }
  .mini-articles img {
    max-width: 650px;
    max-height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .mini-articles {
    max-width: 450px;
  }
  .mini-articles img {
    max-width: 450px;
    max-height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .mini-articles {
    max-width: 90vw;
  }
  .mini-articles img {
    max-width: 90vw;
  }
}
.category-container {
  padding: 0 6rem;
}

.category-header {
  border-bottom: 1px solid #ba1313;
}
.category-header h2 {
  color: #ba1313;
  font-size: 1.5rem;
}
.category-header h2:hover {
  text-decoration: none;
}

.category-header > div {
  gap: 0.5rem;
}
.category-header > div svg {
  margin-bottom: -0.2rem;
}

.category-nav ul {
  list-style: none;
  gap: 2rem;
}
.category-nav ul li {
  color: #ba1313;
  cursor: pointer;
}
.category-nav ul li:hover {
  text-decoration: underline;
}

.category-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 33%;
  padding: 1.5rem 0;
  gap: 1rem;
}

.category-featured {
  grid-row: span 2;
  border-bottom: 1px solid #d1d0d0;
}
.category-featured img {
  max-width: 405px;
  max-height: 303px;
}
.category-featured h2 {
  font-size: 1.6rem;
}

.category-secondary {
  border-bottom: 1px solid #d1d0d0;
  padding-bottom: 1.5rem;
}
.category-secondary img {
  max-width: 143px;
  max-height: 107px;
}

@media screen and (max-width: 1100px) {
  .category-articles {
    grid-template-columns: 1fr 1fr;
  }
  .category-articles h2 {
    font-size: 1.2rem;
  }
  .category-articles img {
    max-width: 90vw;
  }
  .category-articles .category-featured {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media screen and (max-width: 850px) {
  .category-secondary p:last-of-type {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .category-container {
    padding: 1rem;
  }
  .category-container .category-header > div:last-child {
    display: none;
  }
  .category-container .category-articles {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .category-container .category-articles img {
    max-width: 70vw;
    max-height: none;
  }
  .category-container .category-articles::-webkit-scrollbar {
    display: none;
  }
  .category-container .category-featured {
    max-width: 70vw;
  }
  .category-container .category-secondary {
    display: flex;
    flex-direction: column-reverse;
  }
  .category-container .category-secondary p {
    display: none;
  }
  .category-container .category-secondary img {
    max-width: 70vw;
    max-height: none;
  }
  .category-container:nth-of-type(4) .category-articles,
  .category-container:nth-of-type(7) .category-articles {
    display: flex;
    flex-direction: column;
  }
  .category-container:nth-of-type(4) .category-articles img,
  .category-container:nth-of-type(7) .category-articles img {
    max-width: 140px;
  }
  .category-container:nth-of-type(4) .category-articles h2,
  .category-container:nth-of-type(7) .category-articles h2 {
    margin: 0;
  }
  .category-container:nth-of-type(4) .category-featured,
  .category-container:nth-of-type(7) .category-featured {
    max-width: 90vw;
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
  }
  .category-container:nth-of-type(4) .category-featured .type-title,
  .category-container:nth-of-type(7) .category-featured .type-title {
    display: none;
  }
  .category-container:nth-of-type(4) .category-featured p,
  .category-container:nth-of-type(7) .category-featured p {
    display: none;
  }
  .category-container:nth-of-type(4) .category-featured h2,
  .category-container:nth-of-type(7) .category-featured h2 {
    padding: 0;
  }
  .category-container:nth-of-type(4) .category-secondary,
  .category-container:nth-of-type(7) .category-secondary {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  .category-container:nth-of-type(4) .category-secondary p,
  .category-container:nth-of-type(7) .category-secondary p {
    display: none;
  }
  .category-container:nth-of-type(4) .category-secondary img,
  .category-container:nth-of-type(7) .category-secondary img {
    max-width: 140px;
  }
  .category-container:nth-of-type(4) .category-secondary h2,
  .category-container:nth-of-type(7) .category-secondary h2 {
    padding: 0;
  }
}
.real-estate {
  display: grid;
  grid-template-columns: 33% 1fr 1fr;
  gap: 1rem;
  padding: 0rem 6rem;
  margin-bottom: 1rem;
}

.black-header {
  grid-column: span 3;
  border-bottom: 1px solid #040404;
}
.black-header h2 {
  color: #040404;
}

@media screen and (max-width: 1050px) {
  .real-estate .secondary-content p {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .real-estate {
    display: flex;
    flex-direction: column;
  }
  .real-estate .secondary-content p {
    display: flex;
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .real-estate .category-secondary {
    flex-direction: column;
  }
  .real-estate .category-secondary img {
    max-width: 140px;
  }
}
@media screen and (max-width: 500px) {
  .real-estate {
    padding: 1rem;
  }
  .real-estate .category-secondary {
    flex-direction: row-reverse;
    gap: 0.5rem;
    padding: 1rem;
  }
  .real-estate .category-secondary p {
    display: none;
  }
}
.blue-header {
  border-bottom: 1px solid #007bff;
}
.blue-header h2 {
  color: #007bff;
}
.blue-header .category-nav li {
  color: #007bff;
}

.banner-container {
  padding: 2rem 6rem;
  height: 20vh;
}
.banner-container img {
  display: block;
}

.big-btn {
  font-size: 1.5rem;
  padding: 0.8rem 1.5rem;
}

.video-container {
  padding-top: 4rem;
}

video {
  max-width: 300px;
  margin-top: 10rem;
}

@media screen and (max-width: 1440px) {
  .video-container {
    display: none;
  }
}
.popular-container {
  padding: 0 6rem 12rem 6rem;
}

.popular-articles {
  display: grid;
  grid-template-columns: 25% 25% 1fr;
  gap: 1rem;
}
.popular-articles h3 {
  margin: 0;
  padding-top: 1rem;
}

.mob-title {
  display: none;
}

.popular-headlines {
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #d1d0d0;
}
.popular-headlines p:hover {
  text-decoration: underline;
}

.count {
  font-weight: 800;
  align-self: flex-start;
}

.hot-topics p {
  color: #040404;
}
.hot-topics div {
  display: inline-block;
  border: 1px solid #040404;
  padding: 0.7rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
.hot-topics div:hover {
  background-color: rgb(238, 238, 238);
}

.popular-thumbs-container {
  display: flex;
  gap: 1rem;
}

.popular-thumbnail {
  border-bottom: 1px solid #d1d0d0;
}
.popular-thumbnail h2 {
  font-size: 1.2rem;
}
.popular-thumbnail img {
  max-width: 314px;
}

@media screen and (max-width: 1300px) {
  .popular-articles {
    grid-template-columns: 33% 33% 1fr;
  }
  .popular-thumbs-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1050px) {
  .popular-articles {
    grid-template-columns: 50% 1fr;
    row-gap: 2rem;
  }
  .popular-articles h3:nth-of-type(3) {
    display: none;
  }
  .mob-title:last-of-type {
    display: block;
  }
  .popular-thumbs-container {
    grid-column: span 2;
    flex-direction: row;
    justify-content: space-around;
  }
  .popular-thumbnail {
    max-width: 320px;
  }
}
@media screen and (max-width: 700px) {
  .popular-container {
    padding: 0 1rem 6rem 1rem;
  }
  .popular-articles {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .popular-articles h3:nth-of-type(2) {
    display: none;
  }
  .popular-thumbs-container {
    flex-direction: column;
    gap: 2rem;
  }
  .popular-thumbnail {
    max-width: 520px;
  }
  .popular-thumbnail img {
    max-width: 80vw;
  }
  .mob-title {
    display: block;
    padding-top: 2rem !important;
  }
}
.details-page {
  gap: 1rem;
  padding: 2rem 6rem;
}
.details-page h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
.details-page h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.details-article {
  gap: 1rem;
  border-bottom: 1px solid #d1d0d0;
  padding-bottom: 2.5rem;
  width: 900px;
}
.details-article img {
  max-width: 250px;
}

.details-content {
  align-self: flex-start;
}
.details-content h2 {
  font-size: 1.4rem;
}

.details-content p:first-of-type {
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media screen and (max-width: 1000px) {
  .details-article {
    width: 80vw;
  }
}
footer {
  padding: 0 6rem 2rem 6rem;
}

.footer-top {
  position: relative;
  border-top: 1px solid #d1d0d0;
  padding: 2rem 0 1rem 0;
}
.footer-top .scroll-btn {
  position: absolute;
  top: -1.7rem;
  left: 45%;
  border: none;
  background-color: #259ff5;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.footer-top .social {
  gap: 2rem;
}
.footer-top .social svg {
  cursor: pointer;
}
.footer-top .social div {
  display: flex;
  gap: 0.8rem;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: 1px solid #d1d0d0;
  border-bottom: 1px solid #d1d0d0;
  padding: 1rem 0;
}
.footer-nav .nav-item h3 {
  font-size: 0.9rem;
}
.footer-nav .nav-item ul {
  list-style: none;
  padding: 0;
}
.footer-nav .nav-item li {
  color: rgb(113, 113, 113);
  font-size: 0.8rem;
  line-height: 1.6rem;
  cursor: pointer;
}
.footer-nav .nav-item:last-of-type {
  align-items: center;
  gap: 0.5rem;
}
.footer-nav .nav-item:last-of-type h3 {
  align-self: flex-start;
}
.footer-nav .nav-item:last-of-type img {
  max-width: 140px;
  cursor: pointer;
}
.footer-nav .nav-item:last-of-type img:last-of-type {
  margin-left: 0.1rem;
  max-width: 133px;
}

.fine-print {
  padding-top: 1rem;
}
.fine-print span,
.fine-print a,
.fine-print p {
  font-size: 0.8rem;
}
.fine-print span {
  color: #040404;
  font-weight: 800;
}

.footer-links {
  gap: 1rem;
  padding: 0.8rem 0;
}
.footer-links div {
  border-right: 1px solid #040404;
  padding-right: 1rem;
}
.footer-links div:last-child {
  border-right: none;
}
.footer-links a {
  text-decoration: none;
  color: #040404;
  font-size: 0.9rem;
  font-weight: 800;
}

.disclosure p,
.disclosure a {
  font-size: 0.8rem;
}
.disclosure a {
  color: #007bff;
}

@media screen and (max-width: 900px) {
  footer {
    padding: 1rem;
  }
}
@media screen and (max-width: 700px) {
  footer {
    padding: 0;
  }
  .footer-top {
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
  }
  .footer-top .social {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
  }
  .footer-nav .footer-nav-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    border-bottom: 1px solid #d1d0d0;
  }
  .footer-nav .footer-nav-title h3 {
    font-weight: 500;
    font-size: 1rem;
    pointer-events: none;
  }
  .footer-nav svg {
    display: flex;
    pointer-events: none;
  }
  .footer-nav .footer-nav-list {
    display: none;
    background-color: rgb(243, 243, 243);
    margin: 0;
    flex-direction: column;
  }
  .footer-nav .footer-nav-list li {
    padding: 0.75rem 2rem;
    border-bottom: 1px solid #d1d0d0;
    font-size: 1rem;
    color: #040404;
  }
  .footer-nav .nav-item:last-of-type {
    gap: 0;
  }
  .footer-nav .nav-item:last-of-type .footer-nav-title {
    border-bottom: none;
  }
  .footer-nav .nav-item:last-of-type .footer-nav-title h3 {
    font-weight: 800;
  }
  .footer-nav .nav-item:last-of-type div {
    display: flex;
    align-items: center;
  }
  .fine-print {
    padding: 1rem;
  }
  .footer-links {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 0.5rem;
  }
  .disclosure {
    padding: 1rem;
    text-align: center;
  }
}
.not-found {
  height: 70dvh;
  align-items: center;
  justify-content: center;
}
.not-found h1 {
  font-size: 3rem;
}
.not-found button {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.show {
  display: flex !important;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s, transform 1s;
}

.active-text {
  font-weight: 800 !important;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}/*# sourceMappingURL=App.css.map */