:root {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.category-header > div, .type-title, .searchbox, .header-links, .weather {
  display: flex;
  align-items: center;
}

.banner-add, .category-nav ul, .category-header, .header-nav, .header-main, .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured, .main-articles {
  display: flex;
  flex-direction: column;
}

.header-top {
  padding: 0.5rem 2rem;
  background-color: rgb(36, 36, 36);
  color: white;
}
.header-top p,
.header-top a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

.gradient-border {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, violet 0%, violet 3%, blue 3%, blue 7%, yellow 7%, yellow 12%, orange 12%, orange 18%, red 18%, red 25%, green 25%, green 33%, violet 33%, violet 36%, orange 36%, orange 42%, indigo 42%, indigo 50%, red 50%, red 60%, yellow 60%, yellow 62%, orange 62%, orange 70%, green 70%, green 80%, blue 80%, blue 90%, orange 90%, orange 100%);
}

.header-main {
  padding: 1rem 6rem;
}

.primary-btn {
  color: white;
  background-color: #259ff5;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.weather {
  gap: 0.5rem;
}
.weather h2 {
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
}
.weather img {
  max-width: 40px;
}
.weather p {
  font-weight: 800;
  font-size: 0.9rem;
}
.weather input {
  border: 1px solid rgb(209, 208, 208);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.header-nav {
  position: sticky;
  top: 0;
  padding: 0rem 3rem;
  border-top: 1px solid rgb(209, 208, 208);
  border-bottom: 1px solid rgb(209, 208, 208);
}

.header-links {
  position: relative;
}
.header-links p {
  color: #040404;
  padding: 1rem 1rem;
  list-style: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.header-links p:hover {
  color: white;
}

.header-nav:last-child {
  position: relative;
}

.search-container {
  cursor: pointer;
}

.searchbox {
  position: absolute;
  right: 5vw;
  gap: 0.5rem;
  background-color: white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 0.3rem;
}
.searchbox input {
  border: 1px solid rgb(209, 208, 208);
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.business-nav:hover {
  background-color: red;
}

.entertainment-nav:hover {
  background-color: orange;
}

.health-nav:hover {
  background-color: #007bff;
}

.science-nav:hover {
  background-color: green;
}

.sports-nav:hover {
  background-color: indigo;
}

.technology-nav:hover {
  background-color: rgb(0, 130, 121);
}

.dropdown {
  position: absolute;
  background-color: white;
  padding: 1rem;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  width: 600px;
}
.dropdown p {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid rgb(209, 208, 208);
}
.dropdown p:hover {
  color: white;
  border: none;
}

.business {
  border-top: 4px solid red;
}
.business p:hover {
  background-color: red;
}

.entertainment {
  border-top: 4px solid orange;
}
.entertainment p:hover {
  background-color: orange;
}

.health {
  border-top: 4px solid #007bff;
}
.health p:hover {
  background-color: #007bff;
}

.science {
  border-top: 4px solid green;
}
.science p:hover {
  background-color: green;
}

.sports {
  border-top: 4px solid indigo;
}
.sports p:hover {
  background-color: indigo;
}

.technology {
  border-top: 4px solid rgb(0, 130, 121);
}
.technology p:hover {
  background-color: rgb(0, 130, 121);
}

.main-grid {
  display: grid;
  grid-template-columns: 55% 20% 1fr;
  gap: 2rem;
  padding: 0 6rem 2rem 6rem;
  border-bottom: 1px solid rgb(209, 208, 208);
  margin-bottom: 1.5rem;
}

.container {
  padding-top: 2rem;
  max-width: 900px;
}

.grid-articles,
.top-articles {
  display: grid;
  grid-template-columns: 1fr 50%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.grid-articles {
  padding-top: 2rem;
}

.category-title {
  color: rgb(113, 113, 113);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0;
}

.time-text {
  color: rgb(142, 142, 142);
  font-size: 0.8rem;
  margin: 0;
}

.type-title {
  gap: 1rem;
}

.text-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 1rem;
  align-self: flex-end;
  font-weight: 800;
}

p {
  line-height: 1.4rem;
  margin: 0;
  color: rgb(113, 113, 113);
}

h2 {
  color: #040404;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0.5rem 0;
}

h2:hover {
  text-decoration: underline;
}

.featured {
  width: 352px;
  padding-bottom: 1.5rem;
  grid-row: span 3;
  border-bottom: 1px solid rgb(209, 208, 208);
}
.featured img {
  max-height: 264px;
  max-width: 352px;
}
.featured h2 {
  font-size: 1.8rem;
}

.bold-red {
  color: #ba1313;
  letter-spacing: 0.2rem;
  padding-bottom: 0.3rem;
  font-weight: 800;
}

.secondary {
  max-width: 352px;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(209, 208, 208);
}
.secondary img {
  max-width: 143px;
  max-height: 107.25px;
}
.secondary h2 {
  font-size: 1.1rem;
  padding: 0.5rem 0 0.8rem 0;
}
.secondary p {
  line-height: 1.2rem;
}

.secondary-content {
  display: flex;
  gap: 0.5rem;
}
.secondary-content p {
  margin: 0;
}

.grid-articles article:nth-last-child(2),
.grid-articles article:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.mini-articles {
  padding-top: 2rem;
  max-width: 194px;
}
.mini-articles img {
  max-width: 194px;
  max-height: 110px;
}

.mini-article-title {
  border-bottom: 4px solid #040404;
}
.mini-article-title h2 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.heading-article {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(209, 208, 208);
}
.heading-article h2 {
  padding: 0;
}

.time-text {
  color: #ba1313;
}

.featured-container .mini-article-title {
  padding-top: 1.5rem;
}
.featured-container .mini-article {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(209, 208, 208);
}

.img-title-article {
  padding-top: 0.5rem;
}

.img-title-article:first-of-type {
  padding-top: 1rem;
}

.category-container {
  padding: 0 6rem;
}

.category-header {
  border-bottom: 1px solid #ba1313;
}
.category-header h2 {
  color: #ba1313;
  font-size: 1.5rem;
}
.category-header h2:hover {
  text-decoration: none;
}

.category-header > div {
  gap: 0.5rem;
}
.category-header > div svg {
  margin-bottom: -0.2rem;
}

.category-nav ul {
  list-style: none;
  gap: 2rem;
}
.category-nav ul li {
  color: #ba1313;
  cursor: pointer;
}
.category-nav ul li:hover {
  text-decoration: underline;
}

.category-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 33%;
  padding: 1.5rem 0;
  gap: 1rem;
}

.category-featured {
  grid-row: span 2;
  border-bottom: 1px solid rgb(209, 208, 208);
}
.category-featured img {
  max-width: 405px;
  max-height: 303px;
}
.category-featured h2 {
  font-size: 1.6rem;
}

.category-secondary {
  border-bottom: 1px solid rgb(209, 208, 208);
  padding-bottom: 1.5rem;
}
.category-secondary img {
  max-width: 143px;
  max-height: 107px;
}

.real-estate {
  display: grid;
  grid-template-columns: 33% 1fr 1fr;
  gap: 1rem;
  padding: 0rem 6rem;
  margin-bottom: 1rem;
}

.black-header {
  grid-column: span 3;
  border-bottom: 1px solid #040404;
}
.black-header h2 {
  color: #040404;
}

.blue-header {
  border-bottom: 1px solid #007bff;
}
.blue-header h2 {
  color: #007bff;
}
.blue-header .category-nav li {
  color: #007bff;
}

.banner-add-container {
  padding: 2rem 6rem;
}

.banner-add {
  border: 2px solid #040404;
  padding: 0.5rem 6rem;
}
.banner-add h2 {
  font-size: 1.5rem;
}

.big-btn {
  font-size: 1.5rem;
  padding: 0.8rem 1.5rem;
}

.video-container {
  padding-top: 4rem;
}

video {
  max-width: 300px;
  margin-top: 10rem;
}/*# sourceMappingURL=App.css.map */