:root {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

// VARIABLES
$white-text: white;
$light-gray: rgb(209, 208, 208);
$med-gray: rgb(142, 142, 142);
$dark-gray: rgb(113, 113, 113);
$black: #040404;
$btn-primary: #259ff5;
$heading-font: 'Roboto Slab', serif;
$bold-red: #ba1313;
$blue: #007bff;

// MIX-INS
%centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

%aligned {
    display: flex;
    align-items: center;
}

%spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%column {
    display: flex;
    flex-direction: column;
}


// HEADER
.header-top {
    @extend %spaced;
    padding: .5rem 2rem;
    background-color: rgb(36, 36, 36);
    color: $white-text;

    p,
    a {
        text-decoration: none;
        color: $white-text;
        font-size: .8rem;
    }
}

.gradient-border {
    height: 3px;
    width: 100%;
    background: linear-gradient(to right,
            violet 0%, violet 3%,
            blue 3%, blue 7%,
            yellow 7%, yellow 12%,
            orange 12%, orange 18%,
            red 18%, red 25%,
            green 25%, green 33%,
            violet 33%, violet 36%,
            orange 36%, orange 42%,
            indigo 42%, indigo 50%,
            red 50%, red 60%,
            yellow 60%, yellow 62%,
            orange 62%, orange 70%,
            green 70%, green 80%,
            blue 80%, blue 90%,
            orange 90%, orange 100%)
}

// MAIN HEADER
.header-main {
    @extend %spaced;
    padding: 1rem 6rem;
}

.primary-btn {
    color: $white-text;
    background-color: $btn-primary;
    border: none;
    border-radius: .3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

// WEATHER
.weather {
    @extend %aligned;
    gap: .5rem;

    h2 {
        text-decoration: underline;
        font-size: 1rem;
        cursor: pointer;
    }

    img {
        max-width: 40px;
    }

    p {
        font-weight: 800;
        font-size: .9rem;
    }

    input {
        border: 1px solid $light-gray;
        border-radius: .3rem;
        padding: 0.5rem;
    }
}

// HEADER NAV
.header-nav {
    position: sticky;
    top: 0;
    @extend %spaced;
    padding: 0rem 3rem;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
}

.header-links {
    @extend %aligned;
    position: relative;

    p {
        color: $black;
        padding: 1rem 1rem;
        list-style: none;
        cursor: pointer;
        font-size: 1.1rem;
    }

    p:hover {
        color: white;
    }
}

.header-nav:last-child {
    position: relative;
}

.search-container {
    cursor: pointer;
}

.searchbox {
    position: absolute;
    right: 5vw;
    @extend %aligned;
    gap: .5rem;
    background-color: white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
    padding: 1rem;
    border-radius: .3rem;

    input {
        border: 1px solid $light-gray;
        padding: 0.4rem;
        border-radius: .3rem;
    }
}

.business-nav:hover {
    background-color: red;
}

.entertainment-nav:hover {
    background-color: orange;
}

.health-nav:hover {
    background-color: $blue;
}

.science-nav:hover {
    background-color: green;
}

.sports-nav:hover {
    background-color: indigo;
}

.tech-nav:hover {
    background-color: rgb(0, 130, 121);
}

// DROPDWON MENU
.dropdown {
    position: absolute;
    background-color: white;
    padding: 1rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;

    p {
        padding: .5rem 0;
        border-bottom: 1px solid $light-gray;
    }
}

.business {
    border-top: 4px solid red;
    top: 0;
}

.entertainment {
    border-top: 4px solid orange;
}

.health {
    border-top: 4px solid $blue;
}

.science {
    border-top: 4px solid green;
}

.sports {
    border-top: 4px solid indigo;
}

.tech {
    border-top: 4px solid rgb(0, 130, 121);
}

// MAIN SECTION LAYOUTS
.main-grid {
    display: grid;
    grid-template-columns: 55% 20% 1fr;
    gap: 2rem;
    padding: 0 6rem 2rem 6rem;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1.5rem;
}

.container {
    padding-top: 2rem;
    max-width: 900px;
}

.main-articles {
    @extend %column
}

.grid-articles,
.top-articles {
    display: grid;
    grid-template-columns: 1fr 50%;
    column-gap: 2rem;
}

.grid-articles {
    padding-top: 2rem;
}

// ARTICLES
.category-title {
    color: $dark-gray;
    text-transform: uppercase;
    font-size: .8rem;
    margin: 0;
}

.time-text {
    color: $med-gray;
    font-size: .8rem;
    margin: 0;
}

.type-title {
    @extend %aligned;
    gap: 1rem;
}

.text-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-top: 1rem;
    align-self: flex-end;
    font-weight: 800;
}

p {
    line-height: 1.4rem;
    margin: 0;
    color: $dark-gray;
}

h2 {
    color: $black;
    font-family: $heading-font;
    margin: 0;
    padding: .5rem 0;
}

h2:hover {
    text-decoration: underline;
}

// FEATURED ARTICLE
.featured {
    @extend %column;
    width: 352px;
    padding-bottom: 1.5rem;
    grid-row: span 3;
    border-bottom: 1px solid $light-gray;

    img {
        max-height: 264px;
        max-width: 352px;
    }

    h2 {
        font-size: 1.8rem;
    }
}

.bold-red {
    color: $bold-red;
    letter-spacing: .2rem;
    padding-bottom: 0.3rem;
    font-weight: 800;
}

// SECONDARY ARTICLE
.secondary {
    max-width: 352px;
    padding: .5rem 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid $light-gray;

    img {
        max-width: 143px;
        max-height: 107.25px;
    }

    h2 {
        font-size: 1.1rem;
        padding: .5rem 0 .8rem 0;
    }

    p {
        line-height: 1.2rem;
    }
}

.secondary-content {
    display: flex;
    gap: .5rem;

    p {
        margin: 0;
    }
}

.grid-articles article:nth-last-child(2),
.grid-articles article:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

// MINI ARTICLES
.mini-articles {
    padding-top: 2rem;
    max-width: 194px;

    img {
        max-width: 194px;
        max-height: 110px;
    }
}

.mini-article-title {
    border-bottom: 4px solid $black;

    h2 {
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }
}

.heading-article {
    padding: 1rem 0;
    border-bottom: 1px solid $light-gray;

    h2 {
        padding: 0;
    }
}

.time-text {
    color: $bold-red;
}

.featured-container {
    .mini-article-title {
        padding-top: 1.5rem;
    }

    .mini-article {
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid $light-gray;
    }
}

.img-title-article {
    padding-top: 0.5rem;
}

.img-title-article:first-of-type {
    padding-top: 1rem;
}

//
// Category Section

.category-container {
    padding: 0 6rem;
}

.category-header {
    @extend %spaced;
    border-bottom: 1px solid $bold-red;

    h2 {
        color: $bold-red;
        font-size: 1.5rem;
    }

    h2:hover {
        text-decoration: none;
    }
}


.category-header>div {
    @extend %aligned;
    gap: .5rem;

    svg {
        margin-bottom: -0.2rem;
    }
}

.category-nav {
    ul {
        @extend %spaced;
        list-style: none;
        gap: 2rem;

        li {
            color: $bold-red;
            cursor: pointer;
        }

        li:hover {
            text-decoration: underline;
        }

    }
}

.category-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 33%;
    padding: 1.5rem 0;
    gap: 1rem;
}

.category-featured {
    grid-row: span 2;
    border-bottom: 1px solid $light-gray;

    img {
        max-width: 405px;
        max-height: 303px;
    }

    h2 {
        font-size: 1.6rem;
    }
}

.category-secondary {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1.5rem;

    img {
        max-width: 143px;
        max-height: 107px;
    }
}

// REAL ESTATE BANNER
.real-estate {
    display: grid;
    grid-template-columns: 33% 1fr 1fr;
    gap: 1rem;
    padding: 0rem 6rem;
    margin-bottom: 1rem;
}

.black-header {
    grid-column: span 3;
    border-bottom: 1px solid $black;

    h2 {
        color: $black;
    }
}

// BLUE HEADLINES (HEALTH & SCIENCE)
.blue-header {
    border-bottom: 1px solid $blue;

    h2 {
        color: $blue;
    }

    .category-nav li {
        color: $blue;
    }
}

// BANNER ADD 
.banner-add-container {
    padding: 2rem 6rem;
}

.banner-add {
    @extend %spaced;
    border: 2px solid $black;
    padding: .5rem 6rem;

    h2 {
        font-size: 1.5rem;
    }
}

.big-btn {
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
}

// VIDEO 
.video-container {
    padding-top: 4rem;
}

video {
    max-width: 300px;
    margin-top: 10rem;
}