.info {
    height: 90dvh;
    background-color: rgb(237, 237, 237);
    @extend %aligned;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.info p:last-of-type {
    text-decoration: underline;
}

.registration-box {
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .4);
    border-radius: .2rem;
    width: 300px;
}

.box-header {
    background-color: black;
    text-align: center;

    p {
        color: white;
        padding: 0.2rem;
        font-size: .8rem;
    }
}

.box-main {
    padding: 2rem;
    @extend %column;
    align-items: center;
    gap: 2rem;

    p {
        color: black;
        text-decoration: underline;
    }

    button {
        width: 100%;
        padding: 1rem;
        border-radius: .2rem;
    }

    .tick-boxes div {
        @extend %aligned;
        gap: .5rem;
        padding: .5rem 0;

        p {
            text-decoration: none;
            color: gray;
        }

    }
}

// NEXT SECTION (DETAILS)
.details {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 2rem 6rem 6rem 6rem;
}

.duplicate-box {
    width: 400px;
    padding-bottom: 1rem;
}

.totals {
    @extend %spaced;
    width: 100%;

    p {
        text-decoration: none;
        font-weight: 800;
    }
}

.terms {
    @extend %spaced;
    width: 400px;
    padding-top: 1.5rem;

    p {
        color: rgb(185, 185, 185);
        text-decoration: underline;
    }
}

// FORM SECTION
.form {
    border-top: 7px solid rgb(240, 240, 240);
    width: 400px;
    @extend %column;
    gap: .2rem;
    margin-top: 1rem;

    p {
        color: black;

        span {
            text-decoration: underline;
        }
    }

    h2 {
        font-size: 1.2rem;
    }

    button {
        padding: 1rem;
    }
}

form {
    display: grid;
    gap: 1rem;
    padding: 1rem 0;

    input {
        width: 100%;
        padding: 1rem;
    }

    .name {
        display: grid;
        grid-template-columns: 50% 1fr;
        gap: 1rem;
    }
}

.signup-fineprint {
    @extend %column;
    gap: 1rem;

    a,
    p {
        font-size: .9rem;
    }

    a {
        color: black;
        text-decoration: underline;
    }
}

.terms-agree-container {
    display: flex;
    gap: .5rem;

    p {
        font-size: .8rem;
        color: gray;
    }

    a {
        font-size: .8rem;
    }
}

.privacy-container {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.privacy-title {
    @extend %spaced;

    p {
        font-size: 1rem;
        margin-right: auto;
        padding-left: 1rem;
    }
}

.privacy-dropdown {
    padding-top: 1rem;
}